.detail {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: rgb(78, 76, 76);
}

.delete-book-btn {
    font-family: 'Trebuchet MS', sans-serif;
    background-color:  rgba(9, 104, 141, 0.836);
    color: rgb(235, 230, 230);
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.delete-book-btn:hover {
    background-color: rgba(9, 104, 141, 0.993);
}

.empty-btn {
    font-family: 'Trebuchet MS', sans-serif;
    background-color:  rgba(9, 104, 141, 0.836);
    color: rgb(235, 230, 230);
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.empty-btn:hover {
    background-color: rgba(9, 104, 141, 0.993);
}

.end-btn {
    font-family: 'Trebuchet MS', sans-serif;
    background-color:  rgba(9, 104, 141, 0.836);
    color: rgb(235, 230, 230);
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.end-btn:hover {
    background-color: rgba(9, 104, 141, 0.993);
}

.separator {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
}

.all-btn {
    font-family: 'Trebuchet MS', sans-serif;
    background-color:  rgba(9, 104, 141, 0.836);
    color: rgb(235, 230, 230);
    padding: 10px 20px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.all-btn:hover {
    background-color: rgba(9, 104, 141, 0.993);
}

