.containerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(104, 103, 103);
}
